<!-- <h1>
  Hello page
</h1> -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'user'">
    <h1>Welcome user ....!</h1>
  </div>
  <div *ngSwitchCase="'admin'">
    <app-rooms> </app-rooms>
  </div>
  <div *ngSwitchDefault>
    Nothing to show here ... !
  </div>
</div> -->

<!-- <app-rooms></app-rooms> -->

<!-- <div *ngIf="role=='user'">
<app-rooms></app-rooms>
</div> -->

<!-- <app-rooms> -->
    <!-- <h1>this is also from ng-content</h1> -->

    <!-- the line wont be showed ... because there is no ng content  -->
<!-- </app-rooms> -->


<!-- this is the example for ng content projection where content is projected from app to container based on the arrangements of the components in the container  -->
<!-- <app-container>   
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>This is from ng-content</h1>
</app-container> -->

<div #name>

</div> 



<app-app-nav></app-app-nav>
<!-- <a [routerLink]="'employee'">rooms</a> -->
<router-outlet>

</router-outlet>
<!-- <app-rooms>

</app-rooms> -->

<!--  below is equivivalent to <app-rooms> -->
<!-- <div>
  <ng-template #user>  -->
    <!-- here #user is a template ref we can access the tag inside a ts file using view child  -->

  <!-- </ng-template>
</div> -->